@using DOMOverflow;
@{
    Layout = "~/_Layout.cshtml";

    const int maxQuestions = 10;
    List<Question> questions = new List<Question>();

    //var db = DBManager.Connect();
    //dynamic vragen = db.Query(@"SELECT
    //           Posts.UUID,
    //           Posts.Poster,
    //           Posts.PostDate,
    //           Posts.Content,
    //           Posts.Rating,
    //           Questions.UUID,
    //           Questions.Title,
    //           Questions.Answer
    //           FROM Posts INNER JOIN Questions ON Posts.UUID = Questions.UUID");

    //foreach (dynamic vraag in vragen)
    //{
    //    questions.Add(new Question(Guid.Parse(vraag.UUID),
    //                               vraag.Poster,
    //                               vraag.PostDate,
    //                               vraag.Title,
    //                               vraag.Content,
    //                               vraag.Rating,
    //                               null,
    //                               new List<Topic>()));
    //}

    for (int index = 0; index < maxQuestions; index++)
    {
        questions.Add(new Question(Guid.NewGuid(),
                                   Guid.NewGuid(),
                                   DateTime.Now,
                                   "Some Question Title",
                                   "Oh no, I'm afraid this question does not hold any content! Or does it?",
                                   0,
                                   null,
                                   new List<Topic>()));
    }

    questions = questions.GetRange(0, maxQuestions);
}
<body>
    <div class="container">
        <h1>Index Page.</h1>
        <h2> <a href="~/CreateQuestion.cshtml">Create a Question</a> </h2>

        @foreach (Question question in questions)
        {
            <div class="divider" )"></div>
            <a href="@($"Question?id={question.UUID}")">
                <div id="answer">
                    <p id="questionDetails">
                        @question.Content
                    </p>
                    <br />
                    @if (question.Answer != null)
                    {
                        <i id="markAsAnswer" class="fas fa-check-square float-xl-left text-success"></i>
                    }
                    <p class="float-md-right text-align-right text-secondary">
                        Poster: @question.PosterID<br /> @*No way to retrieve a user's name by it's ID*@
                        answered at @question.PostDate
                    </p>
                </div>
            </a>
        }

        @*@for (int TestVraag = 0; TestVraag < 10; TestVraag++)
            {
                //Console.WriteLine(Oof[TestVraag]);
                <table>
                    <tr>
                        <td>Vraagnummer Ik snap iets niet lol help</td>
                        <td><a href="~/Question.cshtml">Question</a></td>
                    </tr>
                </table>
            }
            <br />
            <br />

            @for (int test = 0; test < 10; test++)
            {
                <table>
                    <tr>
                        <td>Q1 Ik snap iets niet lol help</td>
                        <td><a href="~/Question.cshtml">Question</a></td>
                    </tr>

                    <tr>
                        <td>Q2 Ik snap iets niet lol help.</td>
                        <td><a href="~/Question.cshtml">Question</a></td>
                    </tr>

                    <tr>
                        <td>Q3 Ik snap iets niet lol help</td>
                        <td><a href="~/Question.cshtml">Question</a></td>
                    </tr>
                </table>
            }*@
    </div>
</body>
