@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Page not found";
}
<body>
    <div class="align-items-center justify-content-md-center text-md-center">
        <h1 style="margin:15% auto">
            <b>
                404<br /><br />
                PAGE NOT FOUND
            </b>
        </h1>
    </div>
</body>