@using DOMOverflow
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "New Question";

    string questionTitle = string.Empty;
    string questionDetails = string.Empty;
    string tags = string.Empty;

    Validation.RequireField("title", "A question title is required!");
    Validation.RequireField("details", "You can't upload a question without specifying it's details!");

    if (!IsPost)
    {
        User user = DBManager.GetLoggedInUser(Session);
        if (user == null || !user.group.CanAskQuestion())
        {
            Response.Redirect("~/index");
        }
    }
    else if (Validation.IsValid())
    {
        questionTitle = Request.Form["title"];
        questionDetails = Request.Form["details"];
        tags = Request.Form["tags"];
        Guid questionId = Guid.NewGuid();
        string[] tagArray = tags.Split(',');
        List<Topic> topics = new List<Topic>();
        List<Topic> dbTopics = DBManager.GetTopics();
        if (!string.IsNullOrEmpty(tags))
        {
            foreach (var tag in tagArray)
            {
                Topic topic = dbTopics.Find(x => x.name == tag);
                if (topic != null)
                {
                    topics.Add(topic);
                }
                else
                {
                    string errorMessage;
                    topics.Add(DBManager.CreateTopic(tag, string.Empty, out errorMessage));
                }
            }
        }
        DBManager.PostQuestion(new Question(questionId, DBManager.GetLoggedInUser(Session).id, DateTime.UtcNow, questionTitle, questionDetails, 0, null, topics));
        Response.Redirect($"~/Question?id={questionId}");
    }
}
<body>
    <div class="container col-md-6">
        <h1 class="text-md-center"><b>Create Question</b></h1>
        <br />
        <form method="POST">
            <div class="form-group">
                <label for="formGroupExampleInput">Question Title</label>
                <input type="text" class="form-control" name="title" id="formGroupExampleInput" placeholder="E.g. How to use string.Concat" required>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Question</label>
                <textarea type="text" class="form-control" name="details" id="formGroupExampleInput2" placeholder="Full details about the problem" required></textarea>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Tags</label>
                <input type="text" class="form-control" name="tags" id="formGroupExampleInput2" placeholder="C#, .NET" />
            </div>
            <input type="submit" class="btn btn-primary" value="Submit" />
        </form>
    </div>
</body>